.center-content {
    text-align: justify;

  }
  
  .blog-container {

    padding: 20px;
  }
  
  .blog-title {
    font-size: 30px;
    /* margin: 0 auto; */
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
padding-bottom: 10px;
  }
  
  
  
  .blog-image {
    flex: 1;    
  }
   
 .set {
    flex: 1;
  }
  
  .blog-text {
    flex: 2;
    text-align: justify;
    flex: 1;    

  }
  
  .blog-text h2 {
    font-size: 20px;
    font-weight: bold;
    width: 800px;
  }
  
  .blog-text p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .blog-image img {
    width:600px ;
    height: 400px;
  }
  
  .set img {
    width: 700px;
    height: 500px;
  }
  
  .article-author {
    text-align: justify;
    
  }
  .author{
        font-size: 20px;
font-weight: 600;
padding-top: 10px;
text-align: right;

}
  


  .col22{

    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
    width:800px
  }





  /* For screens smaller than or equal to 768px (small devices) */
@media (max-width: 768px) {
  .blog-container {

    width: 100%;
  }
  .set img  {

    width: 100%;
  }
}




.back{


  padding-bottom: 50px;
}

  
 
