.videohome{
  height:340px;
  width:500px;

  
  
}

.video-container {
  display: flex;
  justify-content: center; /* Center the video horizontally */
  align-items: center; /* Center the video vertically */
  max-width: 100%; /* Restrict the container's width to the viewport width */
  margin: 0 auto; /* Center the container horizontally */
}

.videoz{
/* height:500px;
width:1000px; */
/* pointer-events: none; */
max-width: 100%; 
height: auto;
width: auto; 
max-height: 100vh;
}


.marg {
margin-top: 30px;

  
}



.videoh1{
padding-top: 20px;


}

.info2{


  padding-top: 10px;
}



.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.popup-content button {
  position: relative;
  z-index: 1;
}


/*  report popup */ 
.popup1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: white    ;
  z-index: 9999;
}

.popup1-content1 {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.timerr{
  display: flex;
  justify-content: center;
  align-items: center;
}


.lasth2{


  padding-top: 30px;
}


.space{

padding-top: 20px;
padding-bottom: 20px;



}

.interviewDone{
height:400px;
width:700px;
padding-top: 30px;
}



.headT{
/* display: flex; */
justify-content: center;
align-items: center;
padding-top: 40px;
padding-bottom: 30px;
background-color: rgb(202, 228, 252);

}

.newHead{

    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(218, 237, 255);

}


.label{


font-size: large;

}



.row2{


padding-top: 40px;
padding-bottom: 40px;
background-color: aliceblue;

}


.row2-1{


  padding-top: 40px;
  padding-bottom: 58px;
  background-color: aliceblue;
  
  }


.col{
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-img-top1{
padding-top: 20px;
width:100px;
height:100px


}


.card1{
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;}



/*Q/A */

    .qs{

font-weight: 600;
        padding-top: 50px;
    }

.main{

    height: 2600px;
}

.ta{
padding-top: 20px;
/* background-color: blue; */
height: 230px;
}
.area{

    font-size: large;
    
    
    }
/* 
.inpp{
    width:150px;
} */
.ac {
    margin-top: 0.5rem;
  }

.ac-btn {
    font: inherit;
    font-size: 1.25rem;
    width: 150px;
    height: 50px;
    font-weight: 500;
    background-color: #6658d3;
    border-radius: 6px;
    color: #FFF;
    border: 0;
  }


/*text area*/
textarea {
    height:120px;
    max-width:600px;
    max-height: 130px;
    color: #2b2b2b;;
    font-weight:400;
    font-size:30px;
    font-family:'Ubuntu', Helvetica, Arial, sans-serif;
    width:100%;
    background:#fff;
    border-radius:10px;
    line-height:2em;
    border:none;
    box-shadow:0px 0px 5px 1px rgba(3, 25, 54, 0.966);
    padding:30px;
    -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -ms-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 2s ease;
  }
  
  * {
    -webkit-font-smoothing:antialiased !important;
  }
  

/*REPORT SECTION */
 




.res1{


    padding-top: 30px;
    padding-bottom: 50px;
    
    
    }
    .res{
        padding-bottom: 50px;


    }
    

    .colA{
        /* flex-basis: 100%;*/
        display: flex; 
        justify-content: center;

    }
    .colB{
        /* flex-basis: 100%; */
        display: flex; 
 justify-content: center;

    }


.progress{
    margin-bottom: 7px;
}

.user1{
display: inline;
/* color:teal */
}

.user2{
  display: inline;
  color:teal
  }


.clr{
color:green

}

.conc{

padding-top: 30px;
padding-bottom: 30px;

display: flex;
        align-items: center;


}

    .txt{
        color:teal
    }
    .info1{
        text-align: justify;
        line-height: 1.5;
    }
    
    .info{


        text-align: justify;
        line-height: 1.5;
        
        }
    


.emotion{

list-style: none;
text-decoration: none;
}

.inter{
padding-top: 40px;
padding-bottom: 20px;

}




  .ac-btn2 {
    font: inherit;
    font-size: 1.25rem;
    width: 100%;
    height: 50px;
    font-weight: 500;
    background-color: teal;
    /* background-color: #6658d3; */
    border-radius: 6px;
    color: #FFF;
    border: 0;
  }




.btn-div{
    padding-top: 70px;

}


.type{
color:teal;




}

.gapp{

  margin-top: 50px;
}


.conc1{

    text-align:justify ;
}
.roww{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.enclose{
    /* background-color: rgb(231, 231, 231); */
border-radius: 15px;
    width:1000px; 
    /* height:300px; */

}

.conc{

padding-top: 60px;

}

.emotion-columns {
    column-count: 3; /* Adjust the number of columns as needed */
    column-gap: 20px; /* Add some gap between columns */
  }

.image-i{

height: 650px;
width: 500px;

}

.acc{

padding-bottom: 50px;
display: flex;
justify-content: center;
align-items: center;

}



.buttonA{

    padding-bottom: 30px;
    align-items: center;
    justify-content: center;


}


.buttonB{

    padding-bottom: 30px;
    align-items: center;
    justify-content: center;

    
}


.r1{

    padding-top: 30px;
    padding-bottom: 30px;
}



/* PRE-ASSES */

.coli{
display: flex;
justify-content: center;
text-align: left;
}

.coli1{
padding-bottom: 20px;
font-weight: 600;
}

.pre-row{
padding-bottom: 30px;
/* background-color: #f1e4e4; */

}








.arm{

  text-align: center;}

.ac-btn3 {
  font: inherit;
  font-size: 1.25rem;
  width: 30%;
  height: 50px;
  font-weight: 500;
  background-color: teal;
  /* background-color: #6658d3; */
  border-radius: 6px;
  color: #FFF;
  border: 0;
}



.Sidebar {
  width: 99%;
   /* You can adjust this max-width as per your preference */
  /* max-width: 500px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: baseline;
  padding: 20px;
  /* background-color: #332020; */

  /* color: #ffffff; */
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  /* max-height: calc(100vh - 40px); */
  max-height: calc(96vh - 40px);


  margin-top: -8px;
}
  
.Sidebar h5 {
  font-size: 18px;
  font-weight: 400;
  /* color: #ffffff; */
  margin: 8px 0;
  text-align: center;
  line-height: 1.6;
}

.textt22 {
  font-size: 20px;
  font-weight: 500;
  /* color: #ff6f00; */
  color:#2b2b2b ;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* background-color: #332020; */

  padding-top: 10px;

}

.textt2 {
  font-size: 22px;
  font-weight: 700;
  /* color: #ff6f00; */
  color:#2b2b2b ;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* background-color: #332020; */
}




@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

 .tag1{
  /* color: #ff6f00; */
color:#2b2b2b ;
  /* background-color: #332020; */

  margin-bottom: 0px;

}

.tag1-1{
/* padding-top: 50px; */
  padding: 0;
}


.tag2{

  padding-top: 30px;
  padding-bottom: 30px;

}


/*PRE-REPORT*/


.ac-btn4 {
  font: inherit;
  /* font-size: 1.25rem; */
  width: 28%;
  height: 50px;
  font-weight: 500;
  background-color: teal;
  /* background-color: #6658d3; */
  border-radius: 6px;
  color: #FFF;
  border: 0;
}


.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  /* display: flex; */
  /* margin-top: 50px; */
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}









    @media (max-width:768px) {
     .main{
        height:2880px;
        /* background-color: #6658d3; */
     }
.ac-btn3{
height: 60px;
   
    }
    .dawn{

margin-top: 30px;

    }
  }
    @media (max-width:625px) {
        .main{
           height:2820px;
           /* background-color: black; */
        }

       }
       @media (max-width:620px) {
        .main{
           height:2900px;
           /* background-color: violet; */
        }
     
       }


       @media (max-width:623px) {
        .main{
            height:2880px;
            /* background-color: yellow; */
        }
       }
       @media (max-width:622px) {
        .main{
            height:3100px;
            /* background-color: green; */
        }
       }
       @media (max-width:526px) {
        .main{
            height:3130px;
            /* background-color: blue; */
        }

       }

 @media (min-width: 767px) and (max-width:908px) {
     

        .colA {
           order: 1;
   height:750px;
   
         }
         .image-i{
           height: 750px;
       }
         .colB {
           order: 2;
           width:100%;
   background-color: white;
   height:750px;

         }
   
 
   
   .conc{
   
   padding-top: -20px;
   
   
   }
   
   
}



.wrap {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1050px) {
  .wrap {
    width: 100%;
    padding: 10px;
  }

.conc{

  margin-top:-30px
}


}