.accf{

padding-top: 20px ;
}

.faq{
    padding-bottom: 80px;
    padding-top: -35px;
}
.accordion-body{

text-align: justify;
background-color:rgba(238, 208, 208, 0.123) ;
}
.accordion-button{
font-size: 18px;
font-weight:500  ;
}

