.centered-card {
    text-align: center;
    /* background-color: #fff; */
    background-color: #f7f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
    margin: 0 auto;
margin-top: 50px;
margin-bottom: 50px;
  }
  
 



.hero1{

background-color: yellow;
display: flex;
align-items: center;
justify-content: center;
}
.main-image{

    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.user-name{
    font-size:larger ;
    font-weight: 600;
    margin-top: 13px;
}